 <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-left">Copyright by Morgane & Nassima ©
                    <br> Your Movie's Website 2020</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                    </div>
                </div>
            </div>
        </footer>